{% extends 'main/base.html' %}
{% block content %}
{% load static %}


<!-- donate_form.html -->
<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h3>Donate to save a child</h3>
      <p class="text-center">Your donation can make a difference in the life of a child.</p>
      <p class="text-center">Every contribution helps us provide essential support and care. Thank you for your generosity.</p>
      <div class="donate">
        <div class="row">
          <div class="form-container">
            <form method="post" class="donation-form">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Donate</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}