{% extends 'main/base.html' %}
{% block title %}Events{% endblock %}
{% block content %}
{% load static %}

<div class="hero-wrap">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-7">
        <h1 class="mb-3">Events</h1>
      </div>
    </div>
  </div>
</div>
    
  <section class="ftco-section">
    <div class="container">
      <div class="row">

        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <div class="text p-4 d-block">
              {% for event in events %}
                <h3 class="heading mb-4">{{ event.title }}</h3>
                <p class="time-loc">{{ event.date }}</p>
                <p>{{ event.short_content }}</p>
                <p><a href="{% url 'main:event_detail' event_id=event.id %}">read more<i class="ion-ios-arrow-forward"></i></a></p>
              {% endfor %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock %}